<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/billing" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Billing</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>Manage your bill here.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Subscription details</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Current plan</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p class="Polaris-TextStyle--variationStrong">Appetizer</p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Monthly entries quota</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="MonthlyLimit" class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Entries quota usage</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="MonthlyUsage" class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Entries usage history</h3>
						</div>
						<div class="Polaris-TextContainer">
							<canvas role="img" id="QuotaUsage" aria-label="A bar graph showing usage history" height="150"></canvas>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Change plan</h3>
						</div>
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item Polaris-Stack Polaris-Stack--distributionEqualSpacing">
										<div class="Polaris-Stack__Item">
											<h2 class="Polaris-Heading">Main plan</h2>
										</div>
										<div class="Polaris-Stack__Item"><button id="Mainplan" class="Polaris-Button Polaris-Button--primary" aria-label="Upgrade to Main plan" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Upgrade</span></span></button></div>
									</div>
									<div class="Polaris-Stack__Item">
										<%- include("../../partials/main")%>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item Polaris-Stack Polaris-Stack--distributionEqualSpacing">
										<div class="Polaris-Stack__Item">
											<h2 class="Polaris-Heading">Freebie plan</h2>
										</div>
										<div class="Polaris-Stack__Item"><button id="Freebieplan" class="Polaris-Button Polaris-Button--outline" aria-label="Downgrade to Freebie plan" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Downgrade</span></span></button></div>
									</div>
									<div class="Polaris-Stack__Item">
										<%- include("../../partials/freebie")%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/files/alt.js"></script>