<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Get started</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>Quickly get familiar with the features.</p></div>
					</div>
				</div>
			</div>
			<div class="Polaris-Page-Header__RightAlign">
				<div class="Polaris-Page-Header__PrimaryActionWrapper">
					<div class="Polaris-ButtonGroup">
						<div class="Polaris-ButtonGroup__Item">
							<button class="Polaris-Button SkipTutorials"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Skip</span></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Create rapid events</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="RapidTutBtn" class="Polaris-Button Polaris-Button--outline" type="button"><span class="Polaris-Button__Content"><span id="RapidTutBtnText" class="Polaris-Button__Text">Hide</span></span></button></div>
						</div>
					</div>
					<div id="RapidTutSec" class="Polaris-Card__Section">
						<div class="Polaris-TextContainer">
							<p class="Polaris-TextStyle--variationStrong">Definition</p>
							<p>A rapid event is a set of short events that run for 24 hours each on specified days. All the short events within a rapid event are similarly themed with the same methods of entry, prizes, a single winner each and a common grand prize.</p>
							<p class="Polaris-TextStyle--variationStrong">Set up in 11 easy steps</p>
							<ol class="Polaris-List Polaris-List--typeNumber">
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>From the top right of the home page, click the “Create rapid event” button.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Type the title of your giveaway into the “Event name” input field.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Select products that you want to be the method of entry to the giveaway.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If you select the default “All products”, every product on your online store will be used as a method of entry.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If you select “Choose products”, a popup screen with products will appear, select the the products you want and then after press the “Save” button.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>On the calendar, click on the days you want. If they’re not taken or in the past the button will turn green upon selection.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Right below the calendar, press the “Validate” button to check for clashes. If your selected dates don’t have clashes a success message will appear.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Enter the voucher amount you want every winner to receive into the “Standard prize voucher amount” input field.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Then, enter the grand prize voucher amount into the “Grand prize voucher amount” input field.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>To set the goals you want to achieve with the giveaway, enter the total amount of revenue you want the giveaway to make and total number of participants you want into the “Total revenue” and “Total entries” input fields respectively.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Press the green “Create” button at the bottom right corner to create the rapid giveaway event.</p>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Create long events</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="LongTutBtn" class="Polaris-Button Polaris-Button--outline" type="button"><span class="Polaris-Button__Content"><span id="LongTutBtnText" class="Polaris-Button__Text">Show</span></span></button></div>
						</div>
					</div>
					<div id="LongTutSec" class="Polaris-Card__Section disappear">
						<div class="Polaris-TextContainer">
							<p class="Polaris-TextStyle--variationStrong">Definition</p>
							<p>A long event is a single event that spans a duration specified by the user. They can be as short or as long as possible. The user can pick up to 50 winners and all prizes are awarded at the end of the event.</p>
							<p class="Polaris-TextStyle--variationStrong">Set up in 14 easy steps</p>
							<ol class="Polaris-List Polaris-List--typeNumber">
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>On the top right of the home page, click the “Create long event” button.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Type the title of your giveaway into the “Event name” input field.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If you select the default “All products”, every product on your online store will be used as a method of entry.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If you select “Choose products”, a popup screen with products will appear, select the the products you want and then after press the “Save” button.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Enter the dates you want the event to run and press the “Validate” button to check for any scheduling conflicts.If your selected dates don’t have clashes a success message will appear.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Enter the amount of winners you want into the “Number of winners” input field.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Then choose a prize distribution, the options are “Hierarchical” and “Equitable” distributions.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If you select a hierarchical distribution, every individual winner will need to be assigned their own prize.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Whereas if you select an equitable distribution, all winners will be assigned the same prize.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Finally, set the goals you want to achieve with the giveaway, enter the total amount of revenue you want the giveaway to make and total number of participants you want into the “Total revenue” and “Total entries” input fields respectively.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Press the green “Continue” button at the bottom right corner to proceed to the next page.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If you previously selected a hierarchical distribution, the page will have input fields for each and every individual winner’s prize amount in ascending order. You have to fill in all the fields.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If you previously selected an equitable distribution, the page will only have an input field for the prize amount that applies to all winners. Enter the amount into the input field.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>After filling in all the fields, press the green “Create” button to create a long event.</p>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Set up app theme blocks</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="AppBlockTutBtn" class="Polaris-Button Polaris-Button--outline" type="button"><span class="Polaris-Button__Content"><span id="AppBlockTutBtnText" class="Polaris-Button__Text">Show</span></span></button></div>
						</div>
					</div>
					<div id="AppBlockTutSec" class="Polaris-Card__Section disappear">
						<div class="Polaris-TextContainer">
							<p class="Polaris-TextStyle--variationStrong">Definition</p>
							<p>Theme app blocks are a way to display giveaway event banners on your storefront for maximum customer awareness during the running of an event and should be removed at the end to avoid confusion. They integrate straight into the theme editor, there’s no need to touch a single line of code. Note that theme app blocks are only supported on Online Store 2.0 optimised themes.</p>
							<p class="Polaris-TextStyle--variationStrong">Set up in 6 steps</p>
							<ol class="Polaris-List Polaris-List--typeNumber">
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>On the navigation menu select “Theme”, a new browser tab will open with a theme editor for the current theme. Note that any changes made on this editor will appear live in the online store and if this is not what you want, press the “Exit” window button on the top left corner.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>There are two ways to add app blocks into the theme, through the “Apps” section or any section that supports them.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>To add theme app blocks on their own section, press the “Add section” button at the bottom of all the sections, a popup will appear, scroll to the “Apps” section and select the “Giveaway Event” block with the Windfall logo.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>To add theme app blocks on a section that supports them, click the “Add block” button, a popup will appear, scroll to the “Apps” section and select the “Giveaway Event” block with the Windfall logo.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Now that you’ve added the Giveaway Event block to your theme, click on it to edit the “Tagline.” There are a few things you can do to customise it, such as changing the background colour, font colour, font size, text alignment and selecting “yes” on the “Text flash” field to make the tagline flash.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>When you want to remove the app block click on the “Remove block” button on the bottom left corner.</p>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Set up email</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="EmailTutBtn" class="Polaris-Button Polaris-Button--outline" type="button"><span class="Polaris-Button__Content"><span id="EmailTutBtnText" class="Polaris-Button__Text">Show</span></span></button></div>
						</div>
					</div>
					<div id="EmailTutSec" class="Polaris-Card__Section disappear">
						<div class="Polaris-TextContainer">
							<p class="Polaris-TextStyle--variationStrong">Definition</p>
							<p>The email template is used to send discount codes to customers who have won giveaways. It’s sent to them when you press the “Send gift" button from the giveaway page. You cannot send prizes to winners without setting it up first.</p>
							<p class="Polaris-TextStyle--variationStrong">Set up in 8 steps</p>
							<ol class="Polaris-List Polaris-List--typeNumber">
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>On the navigation menu, click “Email” to go to the email template page.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Wait for the page to fully load. It’s only fully loaded if it shows when it was “Last updated” and it pre populates all the input fields on the “Edit” section.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>When editing the fields, changes will appear in the preview in real time.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Only the email’s heading, body and shop description can be edited. Go to the edit section to edit any of them.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>Email heading is also used as the email subject.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>When writing the body try to be as general as possible if you’re going to use it for multiple giveaways, otherwise it can be changed as often as possible to accommodate currently running events. Note that the template is global, once you set it, all emails will be sent using it.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>The “About shop” field is pre-populated with the search engine-appearing description of your store if it has it. Otherwise a dummy description is used. Edit this section as you see fit.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>After editing all the fields to a satisfactory state, press the green “Save” button at the bottom right of the edit section to save the template.</p>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Save event templates</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="EventTemplateTutBtn" class="Polaris-Button Polaris-Button--outline" type="button"><span class="Polaris-Button__Content"><span id="EventTemplateTutBtnText" class="Polaris-Button__Text">Show</span></span></button></div>
						</div>
					</div>
					<div id="EventTemplateTutSec" class="Polaris-Card__Section disappear">
						<div class="Polaris-TextContainer">
							<p class="Polaris-TextStyle--variationStrong">Definition</p>
							<p>With event templates a user can store an event and keep its settings for future use. These templates can be used perpetually. The intent is for the user to create once and use forever.</p>
							<p class="Polaris-TextStyle--variationStrong">Set up in less than 5 steps</p>
							<ol class="Polaris-List Polaris-List--typeNumber">
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>From the page of the giveaway event you want to save, on the “Details” section’s right hand corner press the “Save for future use” button.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>After pressing the “Save for future use” button you’ll be taken to the page of the template.</p>
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If it's the template of a rapid event, to activate the template go to the last item of the “Details” section titled “Dynamic scheduling”, pick and press the scheduling date button you want.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p>If it's the template of a rapid event, to activate the template go to the last item of the “Details” section titled “Quick scheduling”, press the scheduling button you want.</p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Pick winners</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="PickWinnersTutBtn" class="Polaris-Button Polaris-Button--outline" type="button"><span class="Polaris-Button__Content"><span id="PickWinnersTutBtnText" class="Polaris-Button__Text">Show</span></span></button></div>
						</div>
					</div>
					<div id="PickWinnersTutSec" class="Polaris-Card__Section disappear">
						<div class="Polaris-TextContainer">
							<p class="Polaris-TextStyle--variationStrong">Definition</p>
							<p></p>
							<p class="Polaris-TextStyle--variationStrong">Set up</p>
							<ol class="Polaris-List Polaris-List--typeNumber">
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p></p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
								<li class="Polaris-List__Item">
									<div class="Polaris-TextContainer">
										<p></p>
										<img class="screenshot" src="/windfall-banner-with-text.png">
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Polaris-PageActions">
			<div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">
				<div class="Polaris-Stack__Item"></div>
					<div class="Polaris-Stack__Item">
							<div class="Polaris-ButtonGroup">
									<div  class="Polaris-ButtonGroup__Item"><button id="DeleteRapidBtn" class="Polaris-Button Polaris-Button--primary SkipTutorials" type="button"><span class="Polaris-Button__Content"><span id="DeleteRapidBtnText" class="Polaris-Button__Text">Done</span></span></button></div>
							</div>
					</div>
			</div>
		</div>
	</div>
</div>