#windfall-app-boxier {
	display: block;
   	width: 100%;
   	height: 100%;
   	position: relative;
}

img {
  display: block;
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

#windfall-app-promo-content {
	position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-30%);
}

#windfall-app-tagline {
	font-size: 1.8em;
	font-weight: bolder;
}

@media (max-width: 48.0625em){
	#windfall-app-promo-content {
	    left: 20%;
	    transform: translate(-20%,-30%);
	}
	img {
		height: 80%;
	}
}