<div class="Polaris-Page Polaris-Page--fullWidth">
	<div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Overview</h1>
					</div>
				</div>
			</div>
			<div class="Polaris-Page-Header__RightAlign">
				<div class="Polaris-Page-Header__PrimaryActionWrapper">
					<button class="Polaris-Button Polaris-Button--primary CreateGiveaway" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Create a rapid event</span></span></button>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--primary">
				<div id="HTRCard" class="Polaris-Card">
					<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Total revenue</h2>
					</div>
					<div class="Polaris-Card__Section">
							<p class="Polaris-DisplayText Polaris-DisplayText--sizeExtraLarge">$30,000</p>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
							<h2 id="HAwaitingHeader" class="Polaris-Heading">Awaiting</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div id="HAwaiting" class="Polaris-ResourceList__ResourceListWrapper">
							<ul class="Polaris-ResourceList">
								<span></span>
								<li class="Polaris-ResourceItem__ListItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText"></div></span></h3>
															<div><div class="Polaris-SkeletonBodyText"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Giveaway templates</h2>
					</div>
					<div id="HomeGiveawayTemplates" class="Polaris-Card__Section">
						<div id="HGTListWrapper" class="Polaris-ResourceList__ResourceListWrapper">
							<ul class="Polaris-ResourceList" aria-live="polite">
								<span id="HGTDataDecoy"></span>
								<li class="Polaris-ResourceItem__ListItem HGTDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Prize distribution type :</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
															<div><span class="Polaris-TextStyle--variationStrong">Total winners :</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="Polaris-ResourceItem__ListItem HGTDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Prize distribution type :</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
															<div><span class="Polaris-TextStyle--variationStrong">Total winners :</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="Polaris-ResourceItem__ListItem HGTDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Prize distribution type :</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
															<div><span class="Polaris-TextStyle--variationStrong">Total winners :</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
				<div class="Polaris-Card Polaris-Card--subdued">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Active giveaway</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="HAGViewBtn" class="Polaris-Button Polaris-Button--disabled" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">View</span></span></button></div>
						</div>
					</div>
					<div id="HomeActiveGiveaways" class="Polaris-Card__Section">
						<div id="HomeActiveGiveawaysSkeleton" class="Polaris-TextContainer">
								<div>Name : 
									<span id="HAGName" class="Polaris-TextStyle--variationStrong">
										<div class="Polaris-SkeletonBodyText HAGSkeleton"></div>
									</span>
								</div>
								<div> Prize distribution type : 
									<span id="HAGType" class="Polaris-TextStyle--variationStrong">
										<div class="Polaris-SkeletonBodyText HAGSkeleton"></div>
									</span>
								</div>
								<div>Started : 
									<span id="HAGStarted" class="Polaris-TextStyle--variationStrong">
										<div class="Polaris-SkeletonBodyText HAGSkeleton"></div>
									</span>
								</div>
								<div>Ends : 
									<span id="HAGEnds" class="Polaris-TextStyle--variationStrong">
										<div class="Polaris-SkeletonBodyText HAGSkeleton"></div>
									</span>
								</div>
								<div>Entries so far : 
									<span id="HAGEntries" class="Polaris-TextStyle--variationStrong">
										<div class="Polaris-SkeletonBodyText HAGSkeleton"></div>
									</span>
								</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card Polaris-Card--subdued">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Upcoming giveaways</h2>
					</div>
					<div id="HomeUpcomingGiveAways" class="Polaris-Card__Section">
						<div id="HUGListWrapper" class="Polaris-ResourceList__ResourceListWrapper">
							<ul class="Polaris-ResourceList" aria-live="polite">
								<span id="HUGDataDecoy"></span>
								<li class="Polaris-ResourceItem__ListItem HUGDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Begins on</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="Polaris-ResourceItem__ListItem HUGDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Begins on</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="Polaris-ResourceItem__ListItem HUGDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Begins on</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>