<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/billing" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Change plans</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>Choose a plan best suitable for your business.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Starter - your current plan</h2>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Stack Polaris-Stack--vertical">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-TextContainer">
									<h3 class="Polaris-TextStyle--variationStrong">Features included :</h3>
									<ul class="Polaris-List">
										<li class="Polaris-List__Item">2 email templates</li>
										<li class="Polaris-List__Item">Run 1 giveaway at a time</li>
										<li class="Polaris-List__Item">Save up to 2 giveaway templates</li>
										<li class="Polaris-List__Item">Build an email list of unlimited contacts</li>
										<li class="Polaris-List__Item">Intergrate with MailChimp</li>
										<li class="Polaris-List__Item">Smart export email list as JSON</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Standard - $39 per month</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="Standard" class="Polaris-Button Polaris-Button--primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Upgrade</span></span></button></div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Stack Polaris-Stack--vertical">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-TextContainer">
									<p>Packed with everything you need to grow your business.</p>
									<h3 class="Polaris-TextStyle--variationStrong">Features included :</h3>
									<ul class="Polaris-List">
										<li class="Polaris-List__Item">Everything from the starter</li>
										<li class="Polaris-List__Item">6 email templates</li>
										<li class="Polaris-List__Item">Run up to 4 giveaways at a time</li>
										<li class="Polaris-List__Item">Save up to 5 giveaway templates</li>
										<li class="Polaris-List__Item">Detailed campaign analytics</li>
										<li class="Polaris-List__Item">Rank recurring participants</li>
										<li class="Polaris-List__Item">Run 1 super giveaway a month</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Ultimate - $79 per month</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="Ultimate" class="Polaris-Button Polaris-Button--primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Upgrade</span></span></button></div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Stack Polaris-Stack--vertical">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-TextContainer">
									<p>Smart tools for growth intelligence & the sky is the limit.</p>
									<h3 class="Polaris-TextStyle--variationStrong">Features included :</h3>
									<ul class="Polaris-List">
										<li class="Polaris-List__Item">Everything from the standard</li>
										<li class="Polaris-List__Item">15 email templates</li>
										<li class="Polaris-List__Item">Run unlimited giveaways at a time</li>
										<li class="Polaris-List__Item">Save unlimited giveaway templates</li>
										<li class="Polaris-List__Item">Smart campaign analytics</li>
										<li class="Polaris-List__Item">Run unlimited super giveaways</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>