<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/settings" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Analytics</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>Get privy to what is happening inside your giveaway events.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Long events' prize distribution performance</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div style="display: flex;flex-wrap: wrap;justify-content: center;">
							<div style="flex: 0 1 45%; margin: 5px;">
								<canvas id="HvETotal" height="400" aria-label="A chart showing the overall perfomance of hierarchical vs equitable distribution in long events" role="img"></canvas>
							</div>
							<div style="flex: 0 1 45%; margin: 5px;">
								<canvas id="HvEGoals" height="400" aria-label="A chart showing the goal achievement rate difference between the different distribution models of long events" role="img"></canvas>
							</div>
							<div style="flex: 0 1 45%; margin: 5px;">
								<canvas id="HvERevenue" height="400" aria-label="A chart showing the difference in net revenue success rates between the two distribution models of long events" role="img"></canvas>
							</div>
							<div style="flex: 0 1 45%; margin: 5px;">
								<canvas id="HvESpending" height="400" aria-label="A chart showing the difference in overall customer spending average between the two distribution models of long events" role="img"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>