<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">The Freedom</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Details</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Total entries</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p>0</p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Dates active</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p>2022-01-26 to 2022-01-31</p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Prize distribution type</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p>Hierarchical</p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Winners</h3>
						</div>
						<ul class="Polaris-List">
							<li class="Polaris-List__Item">Number 1 - $200 voucher</li>
							<li class="Polaris-List__Item">Number 2 - $200 voucher</li>
							<li class="Polaris-List__Item">Number 3 - $200 voucher</li>
							<li class="Polaris-List__Item">Number 4 - $200 voucher</li>
							<li class="Polaris-List__Item">Number 5 - $200 voucher</li>
							<li class="Polaris-List__Item">Number 6 - $200 voucher</li>
							<li class="Polaris-List__Item">Number 7 - $200 voucher</li>
						</ul>
					</div>
					<div class="Polaris-Card__Footer">
							<button id="" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Edit</span></span></button>
					</div>
				</div>
		</div>
	</div>
</div>