<div class="Polaris-Page Polaris-Page--fullWidth">
    <div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
        <div class="Polaris-Page-Header__Row">
            <div class="Polaris-Page-Header__BreadcrumbWrapper">
                <nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                        <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
                                    </svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a></nav>
            </div>
            <div class="Polaris-Page-Header__TitleWrapper">
                <div>
                    <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                        <h1 class="Polaris-Header-Title">Create a giveaway</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Polaris-Page__Content">
        <div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
            <div class="Polaris-Layout__Section Polaris-Layout__Section--primary">
                <form>
                    <div class="Polaris-Card">
                        <div class="Polaris-Card__Header">
                            <h2 class="Polaris-Heading">Giveaway name</h2>
                        </div>
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-Labelled--hidden">
                                <div class="Polaris-Labelled__LabelWrapper">
                                    <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Giveaway name</label></div>
                                </div>
                                <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField"><input id="PolarisTextField4" placeholder="" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField4Label" aria-invalid="false" value="">
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Card">
                        <div class="Polaris-Card__Header">
                            <h2 class="Polaris-Heading">Number of winners</h2>
                        </div>
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-Labelled--hidden">
                                <div class="Polaris-Labelled__LabelWrapper">
                                    <div class="Polaris-Label"><label id="PolarisSelect6Label" for="PolarisSelect6" class="Polaris-Label__Text">Number of winner</label></div>
                                </div>
                                <div class="Polaris-Select"><select id="PolarisSelect6" class="Polaris-Select__Input" aria-invalid="false">
                                        <option value="one">1</option>
                                        <option value="two">2</option>
                                        <option value="three">3</option>
                                        <option value="four">4</option>
                                        <option value="five">5</option>
                                        <option value="six">6</option>
                                        <option value="seven">7</option>
                                        <option value="eight">8</option>
                                        <option value="nine">9</option>
                                        <option value="ten">10</option>
                                    </select>
                                    <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption">1</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                    <path d="M7.676 9h4.648c.563 0 .879-.603.53-1.014L10.531 5.24a.708.708 0 0 0-1.062 0L7.145 7.986C6.798 8.397 7.113 9 7.676 9zm4.648 2H7.676c-.563 0-.878.603-.53 1.014l2.323 2.746c.27.32.792.32 1.062 0l2.323-2.746c.349-.411.033-1.014-.53-1.014z"></path>
                                                </svg></span></span></div>
                                    <div class="Polaris-Select__Backdrop"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Card">
                        <div class="Polaris-Card__Header">
                            <h2 class="Polaris-Heading">Prize distribution</h2>
                        </div>
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-Stack Polaris-Stack--vertical">
                                <div class="Polaris-Stack__Item">
                                    <div><label class="Polaris-Choice" for="equitable"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="equitable" name="distribution" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" value="" checked=""><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Equitable</span></label>
                                        <div class="Polaris-Choice__Descriptions">
                                            <div class="Polaris-Choice__HelpText" id="disabledHelpText">All winners get the same prize, there is no hierarchy.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div><label class="Polaris-Choice" for="Hierarchical"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="Hierarchical" name="distribution" type="radio" class="Polaris-RadioButton__Input" aria-describedby="optionalHelpText" value=""><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Hierarchical</span></label>
                                        <div class="Polaris-Choice__Descriptions">
                                            <div class="Polaris-Choice__HelpText" id="optionalHelpText">Each winner's prize will reflect on their rank as chosen by you.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Card">
                        <div class="Polaris-Card__Header">
                            <h2 class="Polaris-Heading">All winners' prize</h2>
                        </div>
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-Stack Polaris-Stack--vertical">
                                <div class="Polaris-Stack__Item">
                                    <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList2" aria-invalid="false">
                                        <legend class="Polaris-ChoiceList__Title">Type of prize</legend>
                                        <ul class="Polaris-ChoiceList__Choices">
                                            <li><label class="Polaris-Choice" for="vouchers"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="vouchers" name="prize" type="radio" class="Polaris-RadioButton__Input" value="hidden" checked><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Voucher</span></label></li>
                                            <li><label class="Polaris-Choice" for="products"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="products" name="prize" type="radio" class="Polaris-RadioButton__Input" value="optional"><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Product</span></label></li>
                                        </ul>
                                    </fieldset>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-Labelled">
                                        <div class="Polaris-Labelled__LabelWrapper">
                                            <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Prizes</label></div>
                                        </div>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <div class="Polaris-TextField__Prefix" id="PolarisTextField4Prefix">$</div><input id="PolarisTextField4" autocomplete="off" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField4Label PolarisTextField4Prefix" aria-invalid="false" value="100.00">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-Labelled">
                                        <div class="Polaris-Labelled__LabelWrapper">
                                            <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Prizes</label></div>
                                        </div>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField">
                                                    <div class="Polaris-TextField__Prefix" id="PolarisComboboxTextField2Prefix"><span class="Polaris-Icon Polaris-Icon--applyColor"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z"></path>
                                                            </svg></span></div><input id="PolarisComboboxTextField2" role="combobox" placeholder="Search products" class="Polaris-TextField__Input" aria-labelledby="PolarisComboboxTextField2Label PolarisComboboxTextField2Prefix" aria-invalid="false" aria-autocomplete="list" aria-expanded="false" value="" tabindex="0" aria-controls="Polarispopover2" aria-owns="Polarispopover2">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>
                                            </div>
                                            <div class="Polaris-Connected__Item">
                                                <div><button class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Browse</span></span></button>
                                                    <div id="PolarisPortalsContainer"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Card">
                        <div class="Polaris-Card__Header">
                            <h2 class="Polaris-Heading">Each winner's prize</h2>
                        </div>
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-Stack Polaris-Stack--vertical">
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-Stack distributionFillEvenly">
                                        <div class="Polaris-Stack__Item"><span aria-label="Farrah" role="img" class="Polaris-Avatar Polaris-Avatar--sizeMedium"><span class="Polaris-Avatar__Initials"><svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
                                                        <path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z"></path>
                                                    </svg></span></span>
                                        </div>
                                        <div class="Polaris-Stack__Item">
                                            <div class="Polaris-TextContainer">
                                                <h2 class="Polaris-Heading">Number 1</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList2" aria-invalid="false">
                                        <legend class="Polaris-ChoiceList__Title">Type of prize</legend>
                                        <ul class="Polaris-ChoiceList__Choices">
                                            <li><label class="Polaris-Choice" for="voucher1"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="voucher1" name="number1" type="radio" class="Polaris-RadioButton__Input" value="hidden" checked><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Voucher</span></label></li>
                                            <li><label class="Polaris-Choice" for="products1"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="products1" name="number1" type="radio" class="Polaris-RadioButton__Input" value="optional"><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Product</span></label></li>
                                        </ul>
                                    </fieldset>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-Labelled">
                                        <div class="Polaris-Labelled__LabelWrapper">
                                            <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Prizes</label></div>
                                        </div>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                    <div class="Polaris-TextField__Prefix" id="PolarisTextField4Prefix">$</div><input id="PolarisTextField4" autocomplete="off" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField4Label PolarisTextField4Prefix" aria-invalid="false" value="100.00">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-Labelled">
                                        <div class="Polaris-Labelled__LabelWrapper">
                                            <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Prizes</label></div>
                                        </div>
                                        <div class="Polaris-Connected">
                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                <div class="Polaris-TextField">
                                                    <div class="Polaris-TextField__Prefix" id="PolarisComboboxTextField2Prefix"><span class="Polaris-Icon Polaris-Icon--applyColor"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z"></path>
                                                            </svg></span></div><input id="PolarisComboboxTextField2" role="combobox" placeholder="Search products" class="Polaris-TextField__Input" aria-labelledby="PolarisComboboxTextField2Label PolarisComboboxTextField2Prefix" aria-invalid="false" aria-autocomplete="list" aria-expanded="false" value="" tabindex="0" aria-controls="Polarispopover2" aria-owns="Polarispopover2">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                </div>
                                            </div>
                                            <div class="Polaris-Connected__Item">
                                                <div><button class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Browse</span></span></button>
                                                    <div id="PolarisPortalsContainer"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-Stack Polaris-Stack--vertical">
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-Stack distributionFillEvenly">
                                        <div class="Polaris-Stack__Item"><span aria-label="Farrah" role="img" class="Polaris-Avatar Polaris-Avatar--sizeMedium"><span class="Polaris-Avatar__Initials"><svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
                                                        <path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z"></path>
                                                    </svg></span></span>
                                        </div>
                                        <div class="Polaris-Stack__Item">
                                            <div class="Polaris-TextContainer">
                                                <h2 class="Polaris-Heading">Number 2</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item">
                                    <fieldset class="Polaris-ChoiceList" id="PolarisChoiceList2" aria-invalid="false">
                                        <legend class="Polaris-ChoiceList__Title">Type of prize</legend>
                                        <ul class="Polaris-ChoiceList__Choices">
                                            <li><label class="Polaris-Choice" for="voucher2"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="voucher2" name="number2" type="radio" class="Polaris-RadioButton__Input" value="voucher" checked=""><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Voucher</span></label></li>
                                            <li><label class="Polaris-Choice" for="products2"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="products2" name="number2" type="radio" class="Polaris-RadioButton__Input" value="product"><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Product</span></label></li>
                                        </ul>
                                    </fieldset>
                                </div>
                                <div class="Polaris-Labelled">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                        <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Prizes</label></div>
                                    </div>
                                    <div class="Polaris-Connected">
                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                <div class="Polaris-TextField__Prefix" id="PolarisTextField4Prefix">$</div><input id="PolarisTextField4" autocomplete="off" class="Polaris-TextField__Input" type="number" aria-labelledby="PolarisTextField4Label PolarisTextField4Prefix" aria-invalid="false" value="100.00">
                                                <div class="Polaris-TextField__Backdrop"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Labelled">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                        <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Prizes</label></div>
                                    </div>
                                    <div class="Polaris-Connected">
                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                            <div class="Polaris-TextField">
                                                <div class="Polaris-TextField__Prefix" id="PolarisComboboxTextField2Prefix"><span class="Polaris-Icon Polaris-Icon--applyColor"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                            <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z"></path>
                                                        </svg></span></div><input id="PolarisComboboxTextField2" role="combobox" placeholder="Search products" class="Polaris-TextField__Input" aria-labelledby="PolarisComboboxTextField2Label PolarisComboboxTextField2Prefix" aria-invalid="false" aria-autocomplete="list" aria-expanded="false" value="" tabindex="0" aria-controls="Polarispopover2" aria-owns="Polarispopover2">
                                                <div class="Polaris-TextField__Backdrop"></div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Connected__Item">
                                            <div><button class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Browse</span></span></button>
                                                <div id="PolarisPortalsContainer"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Card">
                        <div class="Polaris-Card__Header">
                            <h2 class="Polaris-Heading">Active dates</h2>
                        </div>
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-FormLayout">
                                <div role="group" class="Polaris-FormLayout--grouped">
                                    <div class="Polaris-FormLayout__Items">
                                        <div class="Polaris-FormLayout__Item">
                                            <div class="Polaris-Labelled">
                                                <div class="Polaris-Labelled__LabelWrapper">
                                                    <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Start date</label></div>
                                                </div>
                                                <div class="Polaris-Connected">
                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <div class="Polaris-TextField__Prefix" id="PolarisTextField4Prefix"><span class="Polaris-Icon Polaris-Icon--colorSubdued Polaris-Icon--applyColor"><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" d="M16.5 4C17.3284 4 18 4.67157 18 5.5V16.5C18 17.3284 17.3284 18 16.5 18H3.5C2.67157 18 2 17.3284 2 16.5V5.5C2 4.67157 2.67157 4 3.5 4H5V3C5 2.448 5.447 2 6 2C6.553 2 7 2.448 7 3V4H13V3C13 2.448 13.447 2 14 2C14.553 2 15 2.448 15 3V4H16.5ZM4 8H16V16H4V8Z" fill="#5C5F62" /></svg></span></div><input id="startDateField" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="" aria-invalid="false" value="" placeholder="YYYY-MM-DD">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-FormLayout__Item">
                                            <div class="Polaris-Labelled">
                                                <div class="Polaris-Labelled__LabelWrapper">
                                                    <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">Start time</label></div>
                                                </div>
                                                <div class="Polaris-Connected">
                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <div class="Polaris-TextField__Prefix" id="PolarisTextField4Prefix"><span class="Polaris-Icon Polaris-Icon--colorSubdued Polaris-Icon--applyColor"><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" d="M10 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8zm2.293-4.707a.997.997 0 01-.707-.293l-2.293-2.293A.997.997 0 019 10V6a1 1 0 112 0v3.586l2 2a.999.999 0 01-.707 1.707z" fill="#5C5F62" /></svg></span></div><input id="PolarisTextField4" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="" aria-invalid="false" value="" placeholder="Enter time">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="group" class="Polaris-FormLayout--grouped">
                                    <div class="Polaris-FormLayout__Items">
                                        <div class="Polaris-FormLayout__Item">
                                            <div class="Polaris-Labelled">
                                                <div class="Polaris-Labelled__LabelWrapper">
                                                    <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">End date</label></div>
                                                </div>
                                                <div class="Polaris-Connected">
                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <div class="Polaris-TextField__Prefix" id="PolarisTextField4Prefix"><span class="Polaris-Icon Polaris-Icon--colorSubdued Polaris-Icon--applyColor"><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" d="M16.5 4C17.3284 4 18 4.67157 18 5.5V16.5C18 17.3284 17.3284 18 16.5 18H3.5C2.67157 18 2 17.3284 2 16.5V5.5C2 4.67157 2.67157 4 3.5 4H5V3C5 2.448 5.447 2 6 2C6.553 2 7 2.448 7 3V4H13V3C13 2.448 13.447 2 14 2C14.553 2 15 2.448 15 3V4H16.5ZM4 8H16V16H4V8Z" fill="#5C5F62" /></svg></span></div><input id="startDateField" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="" aria-invalid="false" value="" placeholder="YYYY-MM-DD">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-FormLayout__Item">
                                            <div class="Polaris-Labelled">
                                                <div class="Polaris-Labelled__LabelWrapper">
                                                    <div class="Polaris-Label"><label id="PolarisTextField4Label" for="PolarisTextField4" class="Polaris-Label__Text">End time</label></div>
                                                </div>
                                                <div class="Polaris-Connected">
                                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <div class="Polaris-TextField__Prefix" id="PolarisTextField4Prefix"><span class="Polaris-Icon Polaris-Icon--colorSubdued Polaris-Icon--applyColor"><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" d="M10 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8zm2.293-4.707a.997.997 0 01-.707-.293l-2.293-2.293A.997.997 0 019 10V6a1 1 0 112 0v3.586l2 2a.999.999 0 01-.707 1.707z" fill="#5C5F62" /></svg></span></div><input id="PolarisTextField4" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="" aria-invalid="false" value="" placeholder="Enter time">
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
                <div class="Polaris-Card Polaris-Card--subdued">
                    <div class="Polaris-Card__Header">
                        <h2 class="Polaris-Heading">Summary</h2>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-Stack Polaris-Stack--vertical">
                            <div class="Polaris-Stack__Item">
                                <h2 class="Polaris-Heading">New year's giveaway</h2>
                            </div>
                            <div class="Polaris-Stack__Item">
                                <ul class="Polaris-List">
                                    <li class="Polaris-List__Item">5 winners</li>
                                    <li class="Polaris-List__Item">Equitable prize distribution</li>
                                    <li class="Polaris-List__Item">$100 voucher each</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card Polaris-Card--subdued">
                    <div class="Polaris-Card__Header">
                        <h2 class="Polaris-Heading">Summary</h2>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-Stack Polaris-Stack--vertical">
                            <div class="Polaris-Stack__Item">
                                <h2 class="Polaris-Heading">New year's giveaway</h2>
                            </div>
                            <div class="Polaris-Stack__Item">
                                <ul class="Polaris-List">
                                    <li class="Polaris-List__Item">5 winners</li>
                                    <li class="Polaris-List__Item">Equitable prize distribution</li>
                                    <li class="Polaris-List__Item">
                                        <span>Each one wins</span>
                                        <ul class="Polaris-List">
                                            <li class="Polaris-List__Item">Yogapants</li>
                                            <li class="Polaris-List__Item">Blue runners</li>
                                            <li class="Polaris-List__Item">White sweater</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Card Polaris-Card--subdued">
                    <div class="Polaris-Card__Header">
                        <h2 class="Polaris-Heading">Summary</h2>
                    </div>
                    <div class="Polaris-Card__Section">
                        <div class="Polaris-Stack Polaris-Stack--vertical">
                            <div class="Polaris-Stack__Item">
                                <h2 class="Polaris-Heading">New year's giveaway</h2>
                            </div>
                            <div class="Polaris-Stack__Item">
                                <ul class="Polaris-List">
                                    <li class="Polaris-List__Item">5 winners</li>
                                    <li class="Polaris-List__Item">Hierarchical prize distribution</li>
                                    <li class="Polaris-List__Item">
                                        <span>Number 1 wins</span>
                                        <ul class="Polaris-List">
                                            <li class="Polaris-List__Item">$400 voucher</li>
                                            <li class="Polaris-List__Item">Blue runners</li>
                                        </ul>
                                    </li>
                                    <li class="Polaris-List__Item">
                                        <span>Number 2 wins</span>
                                        <ul class="Polaris-List">
                                            <li class="Polaris-List__Item">$200 voucher</li>
                                            <li class="Polaris-List__Item">Blue runners</li>
                                        </ul>
                                    </li>
                                    <li class="Polaris-List__Item">
                                        <span>Number 3 wins</span>
                                        <ul class="Polaris-List">
                                            <li class="Polaris-List__Item">$100 voucher</li>
                                            <li class="Polaris-List__Item">Blue runners</li>
                                        </ul>
                                    </li>
                                    <li class="Polaris-List__Item">
                                        <span>Number 4 wins</span>
                                        <ul class="Polaris-List">
                                            <li class="Polaris-List__Item">$50 voucher</li>
                                            <li class="Polaris-List__Item">Blue runners</li>
                                        </ul>
                                    </li>
                                    <li class="Polaris-List__Item">
                                        <span>Number 5 wins</span>
                                        <ul class="Polaris-List">
                                            <li class="Polaris-List__Item">Blue runners</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Polaris-Layout__Section Polaris-Layout__Section--fullWidth">
                <div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
                    <div class="Polaris-Stack__Item">
                        <button class="Polaris-Button" aria-label="discard" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Discard</span></span></button>
                    </div>
                    <div class="Polaris-Stack__Item">
                        <button class="Polaris-Button Polaris-Button--primary" aria-label="Save giveaway" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save giveaway</span></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>