<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Your giveaways</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>All of the giveaways you have ever created in one place</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
		<div class="Polaris-Layout__Section">
			<div class="Polaris-Card">
				<div>
						<div class="Polaris-Tabs__Wrapper">
								<div class="Polaris-Tabs Polaris-Tabs__TabMeasurer">
										<li class="Polaris-Tabs__TabContainer" role="presentation"><button id="all-customers-fitted-2Measurer" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected" aria-selected="true"><span class="Polaris-Tabs__Title">Active</span></button></li>
										<li class="Polaris-Tabs__TabContainer" role="presentation"><button id="accepts-marketing-fitted-2Measurer" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">Upcoming</span></button></li>
										<li class="Polaris-Tabs__TabContainer" role="presentation"><button id="accepts-marketing-fitted-2Measurer" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">Expired</span></button></li>
								</div>
								<ul role="tablist" class="Polaris-Tabs Polaris-Tabs--fitted">
										<li class="Polaris-Tabs__TabContainer" role="presentation"><button id="ActiveGiveawaysTab" role="tab" type="button" tabindex="0" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected" aria-selected="true" aria-controls="ActiveGiveawaysTabContent" aria-label="All customers"><span class="Polaris-Tabs__Title">Active</span></button></li>
										<li class="Polaris-Tabs__TabContainer" role="presentation"><button id="UpcomingGiveawaysTab" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" aria-controls="UpcomingGiveawaysTabContent"><span class="Polaris-Tabs__Title">Upcoming</span></button></li>
										<li class="Polaris-Tabs__TabContainer" role="presentation"><button id="ExpiredGiveawaysTab" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" aria-controls="ExpiredGiveawaysTabContent"><span class="Polaris-Tabs__Title">Expired</span></button></li>
								</ul>
						</div>
						<div class="Polaris-Tabs__Panel" id="ActiveGiveawaysTabContent" role="tabpanel" aria-labelledby="ActiveGiveawaysTab" tabindex="-1">
								<div class="Polaris-Card__Section">
										<div id="ActiveContentHeader" class="Polaris-Card__SectionHeader">
												<h3 aria-label="Active giveaways" class="Polaris-Subheading">Active giveaway</h3>
										</div>
										<div id="ActiveContentSkeleton">
											<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
										</div>
								</div>
						</div>
						<div class="Polaris-Tabs__Panel Polaris-Tabs__Panel--hidden" id="UpcomingGiveawaysTabContent" role="tabpanel" aria-labelledby="UpcomingGiveawaysTab" tabindex="-1">
							<div class="Polaris-Card__Section">
										<div id="UpcomingContentHeader" class="Polaris-Card__SectionHeader">
												<h3 aria-label="Upcoming giveaways" class="Polaris-Subheading">Upcoming giveaways</h3>
										</div>
										<div id="UpcomingContentSkeleton">
											<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
										</div>
								</div>
						</div>
						<div class="Polaris-Tabs__Panel Polaris-Tabs__Panel--hidden" id="ExpiredGiveawaysTabContent" role="tabpanel" aria-labelledby="ExpiredGiveawaysTab" tabindex="-1">
							<div class="Polaris-Card__Section">
										<div id="ExpiredContentHeader" class="Polaris-Card__SectionHeader">
												<h3 aria-label="Expired giveaways" class="Polaris-Subheading">Expired giveaways</h3>
										</div>
										<div id="ExpiredContentSkeleton">
											<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
					  				<div class="Polaris-SkeletonBodyText"></div>
										</div>
								</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>