<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Equitable prize distribution</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>All winners get the same prize, there is no hierarchy</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div id="AllWinnersCard" class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">All winners' prize</h2>
					</div>
					<div class="Polaris-Card__Section">
							<div class="Polaris-Stack Polaris-Stack--vertical">
								<div id="VoucherInputFieldContainer" class="Polaris-Stack__Item">
									<div class="Polaris-Labelled">
										<div class="Polaris-Labelled__LabelWrapper">
											<div class="Polaris-Label"><label id="VoucherInpuFieldtLabel" for="VoucherInputField" class="Polaris-Label__Text">Voucher amount</label></div>
										</div>
										<div class="Polaris-Connected">
											<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
												<div class="Polaris-TextField Polaris-TextField--hasValue"><input id="VoucherInputField" autocomplete="off" class="Polaris-TextField__Input" type="number" aria-labelledby="VoucherInputFieldLabel VoucherInputFieldPrefix" aria-invalid="false" value="">
													<div class="Polaris-TextField__Backdrop"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
					<div class="Polaris-Card__Footer">
							<button id="ECreate" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span id="ECreateText" class="Polaris-Button__Text">Create</span></span></button>
					</div>
			</div>
		</div>
	</div>
</div>