<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Equitable prize distribution</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>All winners get the same prize, there is no hierarchy</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div id="AllWinnersCard" class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">All winners' prize</h2>
					</div>
					<div class="Polaris-Card__Section">
							<div class="Polaris-Stack Polaris-Stack--vertical">
								<div class="Polaris-Stack__Item">
									<fieldset class="Polaris-ChoiceList" id="GiveawayPrizeChoiceList" aria-invalid="false">
										<legend class="Polaris-ChoiceList__Title">Type of prize</legend>
										<ul class="Polaris-ChoiceList__Choices">
											<li><label class="Polaris-Choice" for="VoucherChoice"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="VoucherChoice" name="prize" type="radio" class="Polaris-RadioButton__Input" value="Voucher" checked><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Voucher</span></label></li>
											<li><label class="Polaris-Choice" for="ProductsChoice"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="ProductsChoice" name="prize" type="radio" class="Polaris-RadioButton__Input" value="Prodructs"><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Product</span></label></li>
										</ul>
									</fieldset>
								</div>
								<div id="VoucherInputFieldContainer" class="Polaris-Stack__Item">
									<div class="Polaris-Labelled">
										<div class="Polaris-Labelled__LabelWrapper">
											<div class="Polaris-Label"><label id="VoucherInpuFieldtLabel" for="VoucherInputField" class="Polaris-Label__Text">Voucher amount</label></div>
										</div>
										<div class="Polaris-Connected">
											<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
												<div class="Polaris-TextField Polaris-TextField--hasValue">
													<div class="Polaris-TextField__Prefix" id="VoucherInputFieldPrefix">$</div><input id="VoucherInputField" autocomplete="off" class="Polaris-TextField__Input" type="number" aria-labelledby="VoucherInputFieldLabel VoucherInputFieldPrefix" aria-invalid="false" value="100.00">
													<div class="Polaris-TextField__Backdrop"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="ProductSearchFieldContainer" class="Polaris-Stack__Item disappear">
									<div class="Polaris-Labelled">
										<div class="Polaris-Labelled__LabelWrapper">
											<div class="Polaris-Label"><label id="ProductSearchLabel" for="ProductSearchField" class="Polaris-Label__Text">Select products</label></div>
										</div>
										<div class="Polaris-Connected">
											<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
												<div class="Polaris-TextField">
													<div class="Polaris-TextField__Prefix" id="ProductSearchFieldPrefix"><span class="Polaris-Icon Polaris-Icon--applyColor"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
																<path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z"></path>
															</svg></span></div><input id="ProductSearchField" placeholder="Search products" class="Polaris-TextField__Input" aria-labelledby="ProductSearchFieldLabel ProductsSearchFieldPrefix" aria-invalid="false" aria-autocomplete="list" aria-expanded="false" value="" tabindex="0" aria-controls="" aria-owns="">
													<div class="Polaris-TextField__Backdrop"></div>
												</div>
											</div>
											<div class="Polaris-Connected__Item">
												<div><button id="ProductsSearchFieldBtn" class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Browse</span></span></button>
													<div id="PolarisPortalsContainer"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
			</div>
		</div>
	</div>
</div>