<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Hierarchical prize distribution</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>Each winner's prize will reflect on their rank as chosen by you</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div id="HierarchicalLayoutSection" class="Polaris-Layout__Section">
				<form id="HierarchicalLayoutForm">
					<div id="EachWinnerCard" class="Polaris-Card">
						<div id="EachWinnerHeader"  class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Each winner's prize</h2>
						</div>
						<div class="Polaris-Card__Section WinnerPlaceholder">
							<div class="Polaris-Stack Polaris-Stack--vertical">
								<div class="Polaris-Stack__Item">
									<div class="Polaris-Stack distributionFillEvenly">
										<div class="Polaris-Stack__Item"><span aria-label="Farrah" role="img" class="Polaris-Avatar Polaris-Avatar--sizeMedium"><span class="Polaris-Avatar__Initials"><svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
														<path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z"></path>
													</svg></span></span>
										</div>
										<div class="Polaris-Stack__Item">
											<div class="Polaris-Card__SectionHeader">
												<h2 class="Polaris-Subheading">Number 1</h2>
											</div>
											<div class="Polaris-TextContainer">
												<div class="Polaris-SkeletonBodyText"></div>
												<div class="Polaris-SkeletonBodyText"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Polaris-Card__Section WinnerPlaceholder">
							<div class="Polaris-Stack Polaris-Stack--vertical">
								<div class="Polaris-Stack__Item">
									<div class="Polaris-Stack distributionFillEvenly">
										<div class="Polaris-Stack__Item"><span aria-label="Farrah" role="img" class="Polaris-Avatar Polaris-Avatar--sizeMedium"><span class="Polaris-Avatar__Initials"><svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
														<path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z"></path>
													</svg></span></span>
										</div>
										<div class="Polaris-Stack__Item">
											<div class="Polaris-Card__SectionHeader">
												<h2 class="Polaris-Subheading">Number 1</h2>
											</div>
											<div class="Polaris-TextContainer">
												<div class="Polaris-SkeletonBodyText"></div>
												<div class="Polaris-SkeletonBodyText"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Polaris-Card__Section WinnerPlaceholder">
							<div class="Polaris-Stack Polaris-Stack--vertical">
								<div class="Polaris-Stack__Item">
									<div class="Polaris-Stack distributionFillEvenly">
										<div class="Polaris-Stack__Item"><span aria-label="Farrah" role="img" class="Polaris-Avatar Polaris-Avatar--sizeMedium"><span class="Polaris-Avatar__Initials"><svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
														<path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z"></path>
													</svg></span></span>
										</div>
										<div class="Polaris-Stack__Item">
											<div class="Polaris-Card__SectionHeader">
												<h2 class="Polaris-Subheading">Number 1</h2>
											</div>
											<div class="Polaris-TextContainer">
												<div class="Polaris-SkeletonBodyText"></div>
												<div class="Polaris-SkeletonBodyText"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Polaris-Card__Footer">
							<button id="HCreate" class="Polaris-Button Polaris-Button--primary" type="submit"><span class="Polaris-Button__Content"><span id="HCreateText" class="Polaris-Button__Text">Create</span></span></button>
						</div>
					</div>
				</form>
		</div>
	</div>
</div>