<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Hierarchical prize distribution</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>Each winner's prize will reflect on their rank as chosen by you</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div id="HierarchicalLayoutSection" class="Polaris-Layout__Section">
				<form id="HierarchicalLayoutForm">
					<div id="EachWinnerCard" class="Polaris-Card">
						<div id="EachWinnerHeader"  class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Each winner's prize</h2>
						</div>
					</div>
				</form>
		</div>
	</div>
</div>
<div id="ModalsForHierarchical">
		<div id="" data-portal-id="modal-Polarisportal1">
			<div>
				<div class="Polaris-Modal-Dialog__Container">
					<div class="Polaris-Modal-Dialog">
						<div class="Polaris-Modal-Dialog__Modal">
							<div class="Polaris-Modal-Header">
								<div class="Polaris-Modal-Header__Title">
									<h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Add products</h2>
								</div>
								<button class="Polaris-Modal-CloseButton">
									<span class="Polaris-Icon Polaris-Icon--applyColor Polaris-Icon--colorBase"><span class="Polaris-VisuallyHidden"></span><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11.414 10l6.293-6.293a1 1 0 10-1.414-1.414L10 8.586 3.707 2.293a1 1 0 00-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 101.414 1.414L10 11.414l6.293 6.293A.998.998 0 0018 17a.999.999 0 00-.293-.707L11.414 10z" fill="#5C5F62"/></svg></span>
								</button>
							</div>
							<div class="Polaris-Modal__BodyWrapper">
								<div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical">
									<div class="" style="padding: 1.5em">
											<div class="Polaris-Labelled--hidden">
												<div class="Polaris-Labelled__LabelWrapper ">
														<div class="Polaris-Label"><label id="PolarisComboboxTextField2Label" for="PolarisComboboxTextField2" class="Polaris-Label__Text">Search</label></div>
												</div>
												<div class="Polaris-Connected">
														<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
																<div class="Polaris-TextField">
																		<div class="Polaris-TextField__Prefix" id="PolarisComboboxTextField2Prefix"><span class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
																								<path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z"></path>
																						</svg></span></div><input id="PolarisComboboxTextField2" role="combobox" placeholder="Search" class="Polaris-TextField__Input" aria-labelledby="PolarisComboboxTextField2Label PolarisComboboxTextField2Prefix" aria-invalid="false" aria-autocomplete="list" aria-expanded="false" value="" tabindex="0" aria-controls="Polarispopover2" aria-owns="Polarispopover2">
																		<div class="Polaris-TextField__Backdrop"></div>
																</div>
														</div>
												</div>
										</div>
									</div>
									<div class="">
										<div class="Polaris-Scrollable Polaris-Scrollable--vertical Polaris-Scrollable--hasBottomShadow Polaris-Scrollable--verticalHasScrolling">
											<div class="Polaris-Stack Polaris-Stack--alignmentCenter" style="padding: 1.5em;">
												<div class="Polaris-Stack__Item">
													<label class="Polaris-Choice Polaris-Choice--labelHidden" for="PolarisCheckbox2"><span class="Polaris-Choice__Control"><span class="Polaris-Checkbox"><input id="PolarisCheckbox2" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
	              <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
	            </svg></span></span></span></span><span class="Polaris-Choice__Label">Basic checkbox</span></label>
	           </div>
												<div class="Polaris-Stack__Item">
													<div class="Polaris-Stack Polaris-Stack--spaceTight">
														<div class="Polaris-Stack__Item">
															<span aria-label="Farrah" role="img" class="Polaris-Avatar Polaris-Avatar--sizeMedium"><span class="Polaris-Avatar__Initials"><svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40"><path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z"></path></svg></span></span>
														</div>
														<div class="Polaris-Stack__Item">
															<h2 class="Polaris-Heading">Alex Kokobane</h2>
															<p>alexkokobane@gmail.com</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="Polaris-Modal-Footer">
								<div class="Polaris-Modal-Footer__FooterContent">
									<div class="Polaris-Stack Polaris-Stack--distributionEqualSpace">
										<div class="Polaris-Stack__Item">
											<button class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span></button>
										</div>
										<div class="Polaris-Stack__Item">
											<button class="Polaris-Button Polaris-Button--primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="Polaris-Backdrop"></div>
		</div>
</div>