<div class="Polaris-Page Polaris-Page--fullWidth">
	<div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Home</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--primary">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Online store dashboard</h2>
					</div>
					<div class="Polaris-Card__Section">
						<p>View a summary of your online store’s performance.</p>
						<a href="/campaign/new">Create A Giveaway</a>
					</div>
				</div>
			</div>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Online store dashboard</h2>
					</div>
					<div class="Polaris-Card__Section">
						<p>View a summary of your online store’s performance.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>