<div class="Polaris-Page Polaris-Page--fullWidth">
	<div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Overview</h1>
					</div>
				</div>
			</div>
			<div class="Polaris-Page-Header__RightAlign">
				<div class="Polaris-Page-Header__PrimaryActionWrapper">
					<button class="Polaris-Button Polaris-Button--primary CreateGiveaway" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Create giveaway</span></span></button>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--primary">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Total revenue</h2>
					</div>
					<div class="Polaris-Card__Section">
							<p class="Polaris-DisplayText Polaris-DisplayText--sizeExtraLarge">$30,000</p>
					</div>
			</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Giveaway templates</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-EmptyState Polaris-EmptyState--withinContentContainer">
								<div class="Polaris-EmptyState__Section">
										<div class="Polaris-EmptyState__DetailsContainer">
												<div class="Polaris-EmptyState__Details">
														<div class="Polaris-TextContainer">
																<p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Display your saved giveaway templates</p>
																<div class="Polaris-EmptyState__Content">
																		<p>Save the settings of any giveaway you would like to use in the future.</p>
																</div>
														</div>
														<div class="Polaris-EmptyState__Actions">
																<div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionCenter Polaris-Stack--alignmentCenter">
																		<div class="Polaris-Stack__Item"><button class="Polaris-Button Polaris-Button--primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save template</span></span></button></div>
																		<div class="Polaris-Stack__Item"><a class="Polaris-Button" href="#" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Learn more</span></span></a></div>
																</div>
														</div>
												</div>
										</div>
										<div class="Polaris-EmptyState__ImageContainer"><img src="https://cdn.shopify.com/s/files/1/0262/4071/2726/files/emptystate-files.png" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
								</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Current email templates</h2>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-Stack Polaris-Stack--vertical">
								<div class="Polaris-Stack__Item">
									<div class="Polaris-Card__SectionHeader">
										<h3 class="Polaris-Subheading">Entrants' email</h3>
									</div>
								</div>
								<div class="Polaris-Stack__Item">
									<div class="Polaris-EmptyState Polaris-EmptyState--withinContentContainer">
											<div class="Polaris-EmptyState__Section">
													<div class="Polaris-EmptyState__DetailsContainer">
															<div class="Polaris-EmptyState__Details">
																	<div class="Polaris-TextContainer">
																			<p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Display your email template</p>
																			<div class="Polaris-EmptyState__Content">
																					<p>Choose and edit an email template that will be sent to giveaway entrants.</p>
																			</div>
																	</div>
																	<div class="Polaris-EmptyState__Actions">
																			<div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionCenter Polaris-Stack--alignmentCenter">
																					<div class="Polaris-Stack__Item"><button class="Polaris-Button Polaris-Button--primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add template</span></span></button></div>
																			</div>
																	</div>
															</div>
													</div>
													<div class="Polaris-EmptyState__ImageContainer"><img src="https://cdn.shopify.com/s/files/1/0262/4071/2726/files/emptystate-files.png" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
											</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-Stack Polaris-Stack--vertical">
								<div class="Polaris-Stack__Item">
									<div class="Polaris-Card__SectionHeader">
										<h3 class="Polaris-Subheading">Winners' email</h3>
									</div>
								</div>
								<div class="Polaris-Stack__Item">
									<div class="Polaris-EmptyState Polaris-EmptyState--withinContentContainer">
											<div class="Polaris-EmptyState__Section">
													<div class="Polaris-EmptyState__DetailsContainer">
															<div class="Polaris-EmptyState__Details">
																	<div class="Polaris-TextContainer">
																			<p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Display your email template</p>
																			<div class="Polaris-EmptyState__Content">
																					<p>Choose and edit an email template that will be sent to the winners of your giveaways.</p>
																			</div>
																	</div>
																	<div class="Polaris-EmptyState__Actions">
																			<div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionCenter Polaris-Stack--alignmentCenter">
																					<div class="Polaris-Stack__Item"><button class="Polaris-Button Polaris-Button--primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add template</span></span></button></div>
																			</div>
																	</div>
															</div>
													</div>
													<div class="Polaris-EmptyState__ImageContainer"><img src="https://cdn.shopify.com/s/files/1/0262/4071/2726/files/emptystate-files.png" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
											</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
				<div class="Polaris-Card Polaris-Card--subdued">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Active giveaways</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-EmptyState Polaris-EmptyState--withinContentContainer">
								<div class="Polaris-EmptyState__Section">
										<div class="Polaris-EmptyState__DetailsContainer">
												<div class="Polaris-EmptyState__Details">
														<div class="Polaris-TextContainer">
																<p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Create a new giveaway</p>
																<div class="Polaris-EmptyState__Content">
																		<p>Incentivize customers to spend more in your store.</p>
																</div>
														</div>
														<div class="Polaris-EmptyState__Actions">
																<div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionCenter Polaris-Stack--alignmentCenter">
																		<div class="Polaris-Stack__Item"><button class="Polaris-Button Polaris-Button--primary CreateGiveaway" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Create a giveaway</span></span></button></div>
																		<div class="Polaris-Stack__Item"><a class="Polaris-Button" href="#" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Learn more</span></span></a></div>
																</div>
														</div>
												</div>
										</div>
										<div class="Polaris-EmptyState__ImageContainer"><img src="https://cdn.shopify.com/s/files/1/0262/4071/2726/files/emptystate-files.png" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
								</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card Polaris-Card--subdued">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Upcoming giveaways</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-EmptyState Polaris-EmptyState--withinContentContainer">
								<div class="Polaris-EmptyState__Section">
										<div class="Polaris-EmptyState__DetailsContainer">
												<div class="Polaris-EmptyState__Details">
														<div class="Polaris-TextContainer">
																<p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Schedule a giveaway</p>
																<div class="Polaris-EmptyState__Content">
																		<p>Keep tap on all the upcoming giveaways.</p>
																</div>
														</div>
														<div class="Polaris-EmptyState__Actions">
																<div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionCenter Polaris-Stack--alignmentCenter">
																		<div class="Polaris-Stack__Item"><button class="Polaris-Button Polaris-Button--primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Schedule a giveaway</span></span></button></div>
																		<div class="Polaris-Stack__Item"><a class="Polaris-Button" href="#" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Learn more</span></span></a></div>
																</div>
														</div>
												</div>
										</div>
										<div class="Polaris-EmptyState__ImageContainer"><img src="https://cdn.shopify.com/s/files/1/0262/4071/2726/files/emptystate-files.png" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>