<div class="Polaris-Page Polaris-Page--fullWidth" style="display: flex; flex-direction: row; align-items: center; ">
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h1 class="Polaris-Heading">Login</h1>
					</div>
					<div class="Polaris-Card__Section">
						<form>
								<div class="Polaris-FormLayout">
										<div class="Polaris-FormLayout__Item">
												<div class="">
														<div class="Polaris-Labelled__LabelWrapper">
																<div class="Polaris-Label"><label id="DomainFieldLabel" for="DomainField" class="Polaris-Label__Text">Domain</label></div>
														</div>
														<div class="Polaris-Connected">
																<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
																		<div class="Polaris-TextField"><input id="DomainField" autocomplete="off" class="Polaris-TextField__Input" type="text"  placeholder="yourstore.myshopify.com" aria-invalid="false" value="">
																				<div class="Polaris-TextField__Backdrop"></div>
																		</div>
																</div>
														</div>
														<div class="Polaris-Labelled__HelpText" id="PolarisTextField2HelpText"><span>Enter your myshopify domain to login.</span></div>
												</div>
										</div>
										<div class="Polaris-FormLayout__Item"><button id="LoginButtonOne" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span id="LoginBtnText" class="Polaris-Button__Text">Login</span></span></button></div>
								</div><span class="Polaris-VisuallyHidden"><button type="submit" aria-hidden="true" tabindex="-1">Login</button></span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>