<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a></nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Edit event</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--primary">
				<form>
					<div class="Polaris-Card">
						<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Giveaway name</h2>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-Labelled--hidden">
								<div class="Polaris-Labelled__LabelWrapper">
									<div class="Polaris-Label"><label id="GiveawayNameInputLabel" for="GiveawayNameInput" class="Polaris-Label__Text">Giveaway name</label></div>
								</div>
								<div class="Polaris-Connected">
									<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
										<div class="Polaris-TextField"><input id="GiveawayNameInput" placeholder="" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="GiveawayNameInputLabel" aria-invalid="false" value="">
											<div class="Polaris-TextField__Backdrop"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Polaris-Card">
						<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Active dates</h2>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-FormLayout">
								<div role="group" class="Polaris-FormLayout--grouped">
									<div class="Polaris-FormLayout__Items">
										<div class="Polaris-FormLayout__Item">
											<div class="Polaris-Labelled">
												<div class="Polaris-Labelled__LabelWrapper">
													<div class="Polaris-Label"><label id="StartDateLabel" for="StartDate" class="Polaris-Label__Text">Start date</label></div>
												</div>
												<div class="Polaris-Connected">
													<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
														<div class="Polaris-TextField Polaris-TextField--hasValue">
															<input id="StartDate" type="date" autocomplete="off" class="Polaris-TextField__Input" placeholder="yyyy-mm-dd" aria-labelledby="StartDateLabel" aria-invalid="false" value="">
															<div class="Polaris-TextField__Backdrop"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="Polaris-FormLayout__Item">
											<div class="Polaris-Labelled">
												<div class="Polaris-Labelled__LabelWrapper">
													<div class="Polaris-Label"><label id="StartTimeLabel" for="StartTime" class="Polaris-Label__Text">Start time</label></div>
												</div>
												<div class="Polaris-Connected">
													<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
														<div class="Polaris-TextField Polaris-TextField--hasValue">
															<input id="StartTime" type="time" autocomplete="off" class="Polaris-TextField__Input" placeholder="Enter time" aria-labelledby="StartTimeLabel" aria-invalid="false" value="">
															<div class="Polaris-TextField__Backdrop"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="Polaris-FormLayout">
								<div role="group" class="Polaris-FormLayout--grouped">
									<div class="Polaris-FormLayout__Items">
										<div class="Polaris-FormLayout__Item">
											<div class="Polaris-Labelled">
												<div class="Polaris-Labelled__LabelWrapper">
													<div class="Polaris-Label"><label id="EndDateLabel" for="EndDate" class="Polaris-Label__Text">End date</label></div>
												</div>
												<div class="Polaris-Connected">
													<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
														<div class="Polaris-TextField Polaris-TextField--hasValue">
															<input id="EndDate" type="date" autocomplete="off" class="Polaris-TextField__Input" placeholder="yyyy-mm-dd" aria-labelledby="" aria-invalid="false" value="">
															<div class="Polaris-TextField__Backdrop"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="Polaris-FormLayout__Item">
											<div class="Polaris-Labelled">
												<div class="Polaris-Labelled__LabelWrapper">
													<div class="Polaris-Label"><label id="EndTimeLabel" for="EndTime" class="Polaris-Label__Text">End time</label></div>
												</div>
												<div class="Polaris-Connected">
													<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
														<div class="Polaris-TextField Polaris-TextField--hasValue">
															<input id="EndTime" type="time" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="" aria-invalid="false" value="" placeholder="Enter time">
															<div class="Polaris-TextField__Backdrop"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Polaris-CalloutCard__Container">
							<div class="Polaris-Card__Section">
								<div class="Polaris-CalloutCard">
									<div class="Polaris-CalloutCard__Content">
										<div class="Polaris-CalloutCard__Title">
												<h2 id="ValidHeading" class="Polaris-Heading">Validate scheduling</h2>
										</div>
										<div id="ValidBody" class="Polaris-TextContainer">
												<p>Press the validator button to check for scheduling conflicts with existing giveaways.</p>
										</div>
										<div class="Polaris-CalloutCard__Buttons">
											<button id="EditValidateBtn" class="Polaris-Button Polaris-Button--outline" aria-label="Validate" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Validate</span></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="OfWinnersCard" class="Polaris-Card">
						<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Number of winners</h2>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-Labelled--hidden">
								<div class="Polaris-Labelled__LabelWrapper">
									<div class="Polaris-Label"><label id="OfWinnersLabel" for="OfWinners" class="Polaris-Label__Text">Number of winners</label></div>
								</div>
								<div class="Polaris-Connected">
									<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
										<div class="Polaris-TextField Polaris-TextField--hasValue">
											<input id="OfWinners" autocomplete="off" class="Polaris-TextField__Input" type="number" aria-labelledby="OfWinnersLabel" aria-invalid="false" max="10" value="">
											<div class="Polaris-TextField__Backdrop"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="DistributionCard" class="Polaris-Card">
						<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Prize distribution</h2>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-Stack Polaris-Stack--vertical">
								<div class="Polaris-Stack__Item">
									<div><label class="Polaris-Choice" for="Equitable"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="Equitable" name="distribution" type="radio" class="Polaris-RadioButton__Input" aria-describedby="EquitableHelpText" value="Equitable"><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Equitable</span></label>
										<div class="Polaris-Choice__Descriptions">
											<div class="Polaris-Choice__HelpText" id="EquitableHelpText">All winners get the same prize, there is no hierarchy.</div>
										</div>
									</div>
								</div>
								<div class="Polaris-Stack__Item">
									<div><label class="Polaris-Choice" for="Hierarchical"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="Hierarchical" name="distribution" type="radio" class="Polaris-RadioButton__Input" aria-describedby="HierachicalHelpText" value="Hierarchical"><span class="Polaris-RadioButton__Backdrop"></span></span></span><span class="Polaris-Choice__Label">Hierarchical</span></label>
										<div class="Polaris-Choice__Descriptions">
											<div class="Polaris-Choice__HelpText" id="HierarchicalHelpText">Each winner's prize will reflect on their rank as chosen by you.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</form>
			</div>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--fullWidth">
				<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
					<div class="Polaris-Stack__Item">
						<button id="ContinueEditButton" class="Polaris-Button Polaris-Button--primary" aria-label="Save giveaway" type="button"><span class="Polaris-Button__Content"><span id="ContinueEditButtonText" class="Polaris-Button__Text">Continue</span></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>