<div style="background-color: white; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
		<h2 style="font-size: 4em; font-weight: bolder; color: red;">Authentication error</h2>
		<p style="font-size: 1.5em; font-weight: bolder; color: black;">Something went wrong with your authentication.</p>
		<br>
		<p style="font-size: 1.5em; font-weight: bolder; color: black;">Redirecting...</p>
</div>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/files/alt.js"></script>