<div class="Polaris-Page Polaris-Page--fullWidth">
	<br>
	<br>
	<div class="Polaris-Page-Header Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Subscription plans</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Freebie plan - Free forever</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="Freebieplan" class="Polaris-Button Polaris-Button--primary" aria-label="Choose Freebie plan" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Choose plan</span></span></button></div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<%- include("../partials/freebie")%>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Appetizer plan - 14 USD per month</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="Appetizerplan" class="Polaris-Button Polaris-Button--primary" aria-label="Choose Appetizer plan" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Choose plan</span></span></button></div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<%- include("../partials/appetizer")%>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Main plan - 39 USD per month</h2>
							</div>
							<div class="Polaris-Stack__Item"><button id="Mainplan" class="Polaris-Button Polaris-Button--primary" aria-label="Choose Main plan" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Choose plan</span></span></button></div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<%- include("../partials/main")%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>