<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a></nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Create a rapid event</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>A giveaway event that chooses a winner for everyday that it runs and ends it a grand price on the last day</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--primary">
				<form>
					<div class="Polaris-Card">
						<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Event name</h2>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-Labelled--hidden">
								<div class="Polaris-Labelled__LabelWrapper">
									<div class="Polaris-Label"><label id="RapidEventNameLabel" for="RapidEventName" class="Polaris-Label__Text">Giveaway name</label></div>
								</div>
								<div class="Polaris-Connected">
									<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
										<div class="Polaris-TextField"><input id="RapidEventName" placeholder="" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="RapidEventNameLabel" aria-invalid="false" value="">
											<div class="Polaris-TextField__Backdrop"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Polaris-Card">
						<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Set dates</h2>
						</div>
						<div class="Polaris-Card__Section">
							<%- include('../partials/date-picker')%>
						</div>
						<div class="Polaris-CalloutCard__Container">
							<div class="Polaris-Card__Section">
								<div class="Polaris-CalloutCard">
									<div class="Polaris-CalloutCard__Content">
										<div class="Polaris-CalloutCard__Title">
												<h2 id="RValidHeading" class="Polaris-Heading">Validate scheduling</h2>
										</div>
										<div id="RValidBody" class="Polaris-TextContainer">
												<p>Press the validator button to check for scheduling conflicts with existing giveaways.</p>
										</div>
										<div class="Polaris-CalloutCard__Buttons">
											<button id="RValidateBtn" class="Polaris-Button Polaris-Button--outline" aria-label="Validate" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Validate</span></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="OfWinnersCard" class="Polaris-Card">
						<div class="Polaris-Card__Header">
							<h2 class="Polaris-Heading">Prizes</h2>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-Card__SectionHeader">
								<h3 class="Polaris-Subheading">Normal prize voucher amount (USD)</h3>
							</div>
							<div class="Polaris-Labelled--hidden">
								<div class="Polaris-Labelled__LabelWrapper">
									<div class="Polaris-Label"><label id="NormalPrizeLabel" for="NormalPrize" class="Polaris-Label__Text">Normal prize voucher amout (USD)</label></div>
								</div>
								<div class="Polaris-Connected">
									<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
										<div class="Polaris-TextField Polaris-TextField--hasValue">
											<input id="NormalPrize" autocomplete="off" class="Polaris-TextField__Input" type="number" aria-labelledby="NormalPrizeLabel" value="">
											<div class="Polaris-TextField__Backdrop"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Polaris-Card__Section">
							<div class="Polaris-Card__SectionHeader">
								<h3 class="Polaris-Subheading">Grand prize voucher amount (USD)</h3>
							</div>
							<div class="Polaris-Labelled--hidden">
								<div class="Polaris-Labelled__LabelWrapper">
									<div class="Polaris-Label"><label id="GrandPrizeLabel" for="GrandPrize" class="Polaris-Label__Text">Grand prize voucher amout (USD)</label></div>
								</div>
								<div class="Polaris-Connected">
									<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
										<div class="Polaris-TextField Polaris-TextField--hasValue">
											<input id="GrandPrize" autocomplete="off" class="Polaris-TextField__Input" type="number" aria-labelledby="GrandPrizeLabel" value="">
											<div class="Polaris-TextField__Backdrop"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>				
				</form>
			</div>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--fullWidth">
				<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
					<div class="Polaris-Stack__Item">
						<button class="Polaris-Button" aria-label="discard" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Discard</span></span></button>
					</div>
					<div class="Polaris-Stack__Item">
						<button id="CreateRapidBtn" class="Polaris-Button Polaris-Button--primary" aria-label="Create a rapid event" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Create</span></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>