<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/campaign/giveaways" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 id="RapidTName" class="Polaris-Header-Title"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeMedium"></div></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout">
			<a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Details</h2>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Duration</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="RapidTDuration"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Event type</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="RapidTEventType"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Standard prize</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="RapidTStandard" class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Grand prize</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="RapidTGrand" class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Gross revenue goal</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="RapidTRevenueGoal" class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Total entries goal</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="RapidTEntriesGoal" class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div></p>
						</div>
					</div>
					<div class="Polaris-CalloutCard__Container">
						<div class="Polaris-Card__Section">
							<div class="Polaris-CalloutCard">
								<div class="Polaris-CalloutCard__Content">
									<div class="Polaris-CalloutCard__Title">
											<h2 id="RapidTActivatorHeading" class="Polaris-Heading">Dynamic scheduling</h2>
									</div>
									<div class="Polaris-TextContainer">
											<div id="RapidTActivatorBody" class="Polaris-TextContainer">
												<p>
													<div class="Polaris-SkeletonBodyText"></div>
													<div class="Polaris-SkeletonBodyText"></div>
													<div class="Polaris-SkeletonBodyText"></div>
												</p>
											</div>
											<div class="RapidTPHSpinner">
												<span class="Polaris-Spinner Polaris-Spinner--sizeLarge">
													<svg viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
														<path d="M15.542 1.487A21.507 21.507 0 00.5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 00-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 10-.9-2.863z"></path>
													</svg>
												</span>
												<span role="status">
													<span class="Polaris-VisuallyHidden">Spinner</span>
												</span>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Footer">
						<div class="Polaris-ButtonGroup">
							<div class="Polaris-ButtonGroup__Item">
								<button id="RapidTDeleteBtn" class="Polaris-Button Polaris-Button--destructive"><span class="Polaris-Button__Content"><span id="RapidTDeleteBtn" class="Polaris-Button__Text">Delete</span></span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Qualifying products</h2>
					</div>
					<%- include('../partials/qp')%>
				</div>
			</div>
		</div>
	</div>
</div>