<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/campaign/giveaways" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 id="RapidName" class="Polaris-Header-Title"><div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeMedium FirstSketch"></div></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing Polaris-Stack--alignmentCenter">
							<div class="Polaris-Stack__Item">
								<h2 class="Polaris-Heading">Details</h2>
							</div>
							<div class="Polaris-Stack__Item"><button class="Polaris-Button Polaris-Button--outline Add-Rapid-Template" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save for future use</span></span></button></div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Total prizes</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="TotalWinners"><div class="Polaris-SkeletonBodyText FirstSketch"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Schedule</h3>
						</div>
						<%- include('../partials/event-calendar')%>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Regular prizes</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="RegularPrize" class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText FirstSketch"></div></p>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Grand prize</h3>
						</div>
						<div class="Polaris-TextContainer">
							<p id="GrandPrize" class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText FirstSketch"></div></p>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Events management</h2>
					</div>
				</div>
			</div>
			<div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Active today</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-TextContainer">
							<div>Ends at : 
								<span id="RAEnds" class="Polaris-TextStyle--variationStrong">
									<div class="Polaris-SkeletonBodyText ActiveSketch"></div>
								</span>
							</div>
							<div>Entries so far : 
								<span id="RAEntries" class="Polaris-TextStyle--variationStrong">
									<div class="Polaris-SkeletonBodyText ActiveSketch"></div>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Upcoming 3 events</h2>
					</div>
					<div id="RU" class="Polaris-Card__Section">
						<div id="RUListWrapper" class="Polaris-ResourceList__ResourceListWrapper">
							<ul class="Polaris-ResourceList" aria-live="polite">
								<span id="RUDataDecoy"></span>
								<li class="Polaris-ResourceItem__ListItem RUDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Begins on</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="Polaris-ResourceItem__ListItem RUDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Begins on</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="Polaris-ResourceItem__ListItem RUDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-Stack  Polaris-Stack--noWrap Polaris-Stack--alignmentBaseline Polaris-Stack--distributionEqualSpacing">
														<div class="Polaris-Stack__Item Polaris-TextContainer">
															<h3><span class="Polaris-TextStyle--variationStrong"><div class="Polaris-SkeletonBodyText HUGSkeleton"></div></span></h3>
															<div><span class="Polaris-TextStyle--variationStrong">Begins on</span> <div class="Polaris-SkeletonBodyText HUGSkeleton"></div></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Polaris-PageActions">
			<div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">
					<div class="Polaris-Stack__Item">
							<div class="Polaris-ButtonGroup">
									<div class="Polaris-ButtonGroup__Item"><button id="DeleteRapidBtn" class="Polaris-Button Polaris-Button--destructive" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Delete</span></span></button></div>
							</div>
					</div>
					<div class="Polaris-Stack__Item"><button id="EditRapidBtn" class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Edit</span></span></button></div>
			</div>
		</div>
	</div>
</div>