<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Settings</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>Your app settings</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout">
			<a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Event bulk actions</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-TextContainer">
									<p class="Polaris-TextStyle--variationStrong">Rapid Events</p>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<button id="DeleteAllRapidBtn" class="Polaris-Button Polaris-Button--destructive" aria-label="Delete all rapid events" type="button"><span class="Polaris-Button__Content"><span id="DeleteAllRapidBtnText" class="Polaris-Button__Text">Delete all</span></span></button>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-TextContainer">
									<p class="Polaris-TextStyle--variationStrong">Long Events</p>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<button id="DeleteAllLongBtn" class="Polaris-Button Polaris-Button--destructive" aria-label="Delete all long events" type="button"><span class="Polaris-Button__Content"><span id="DeleteAllLongBtnText" class="Polaris-Button__Text">Delete all</span></span></button>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-TextContainer">
									<p class="Polaris-TextStyle--variationStrong">Event Templates</p>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<button id="DeleteAllTemplatesBtn" class="Polaris-Button Polaris-Button--destructive" aria-label="Delete all event templates" type="button"><span class="Polaris-Button__Content"><span id="DeleteAllTemplatesBtnText" class="Polaris-Button__Text">Delete all</span></span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Customers</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-TextContainer">
							<p id="CustomersBody">
								<div class="Polaris-SkeletonBodyText CustomersSketch"></div>
								<div class="Polaris-SkeletonBodyText CustomersSketch"></div>
								<div class="Polaris-SkeletonBodyText CustomersSketch"></div>
							</p>
						</div>
					</div>
					<div class="Polaris-Card__Footer">
						<div class="Polaris-ButtonGroup">
							<div class="Polaris-ButtonGroup__Item">
								<button id="ExportJSON" class="Polaris-Button Polaris-Button--outline"><span class="Polaris-Button__Content"><span id="ExportJSONText" class="Polaris-Button__Text">Export JSON</span></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>