<div class="Polaris-Page">
	<div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
		<div class="Polaris-Page-Header__Row">
			<div class="Polaris-Page-Header__BreadcrumbWrapper">
				<nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/settings" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__ContentWrapper"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
										<path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
									</svg></span></span><span class="Polaris-VisuallyHidden">Back</span></span></a>
					</nav>
			</div>
			<div class="Polaris-Page-Header__TitleWrapper">
				<div>
					<div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
						<h1 class="Polaris-Header-Title">Analytics</h1>
						<div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact"><p>Get privy to what is happening inside your giveaway events.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Page__Content">
		<div class="Polaris-Layout"><a id="SkipToContentTarget" tabindex="-1"></a>
			<div class="Polaris-Layout__Section">
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Events performace</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Overall performance</h3>
						</div>
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Goals achieved</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-ga" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">High revenue</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-hr" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Spending per customer</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-spc" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Rapid events performance</h3>
						</div>
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Goals achieved</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-ga-rapid" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">High revenue</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-hr-rapid" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Spending per customer</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-spc-rapid" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Long events performance</h3>
						</div>
						<div class="Polaris-Stack Polaris-Stack--distributionEqualSpacing">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Goals achieved</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-ga-long" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">High revenue</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-hr-long" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Spending per customer</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-spc-long" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-ep-ske"></div>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Comparison</h3>
						</div>
						<div class="Polaris-Stack Polaris-Stack--distributionFillEvenly">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Goals achieved</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<canvas id="Ana-ga-comp"></canvas>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">High revenue</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<canvas id="Ana-hr-comp"></canvas>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Spending per customer</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<canvas id="Ana-spc-comp"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Total revenue</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div style="display:flex;flex-wrap:wrap;justify-content: center;">
							<div style="flex: 0 1 100%; margin: 5px;">
								<canvas id="TotalRevenueByWeekDays" height="150" aria-label="A chart showing the revenue by the days of the week" role="img"></canvas>
							</div>
							<div style="flex: 0 1 100%; margin: 5px;">
								<canvas id="TotalRevenueByMonths" height="150" aria-label="A chart showing the revenue by the months of the year" role="img"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Top performing event templates</h2>
					</div>
					<div id="TopPerform" class="Polaris-Card__Section">
						<div id="HTPListWrapper" class="Polaris-ResourceList__ResourceListWrapper">
							<ul class="Polaris-ResourceList" aria-live="polite">
								<span id="HTPDataDecoy"></span>
								<li class="Polaris-ResourceItem__ListItem HTPDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall HUGSkeleton"></div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="Polaris-ResourceItem__ListItem HTPDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall HUGSkeleton"></div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="Polaris-ResourceItem__ListItem HTPDecoyItem">
									<div class="Polaris-ResourceItem__ItemWrapper">
										<div class="Polaris-ResourceItem Polaris-Scrollable Polaris-Scrollable--horizontal Polaris-Scrollable--horizontalHasScrolling" data-href="#">
											<a aria-describedby="100" aria-label="Loading" class="Polaris-ResourceItem__Link" tabindex="0" id="" href="#" data-polaris-unstyled="true"></a>
											<div class="Polaris-ResourceItem__Container" id="">
												<div class="Polaris-ResourceItem__Owned">
													<div class="Polaris-ResourceItem__Media">
														<span aria-label="Solid color thumbnail" role="img" class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
															<div class="Polaris-SkeletonThumbnail Polaris-SkeletonThumbnail--sizeMedium HUGSkeleton"></div>
														</span>
													</div>
												</div>
												<div class="Polaris-ResourceItem__Content">
													<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall HUGSkeleton"></div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Long events: Prize distribution performance</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div style="display: flex;flex-wrap: wrap;justify-content: center;">
							<div style="flex: 0 1 45%; margin: 5px;">
								<canvas id="HvETotal" height="200" aria-label="A chart showing the overall perfomance of hierarchical vs equitable distribution in long events" role="img"></canvas>
							</div>
							<div style="flex: 0 1 45%; margin: 5px;">
								<canvas id="HvEGoals" height="200" aria-label="A chart showing the goal achievement rate difference between the different distribution models of long events" role="img"></canvas>
							</div>
							<div style="flex: 0 1 45%; margin: 5px;">
								<canvas id="HvERevenue" height="200" aria-label="A chart showing the difference in net revenue success rates between the two distribution models of long events" role="img"></canvas>
							</div>
							<div style="flex: 0 1 45%; margin: 5px;">
								<canvas id="HvESpending" height="200" aria-label="A chart showing the difference in overall customer spending average between the two distribution models of long events" role="img"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="Polaris-Card">
					<div class="Polaris-Card__Header">
						<h2 class="Polaris-Heading">Impact statistics</h2>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Your impact this year</h3>
						</div>
						<div class="Polaris-Stack Polaris-Stack--distributionFillEvenly">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Total payout</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-tp-yr" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-is-ske"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Total winners</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-tw-yr" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-is-ske"></div>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="Polaris-Card__Section">
						<div class="Polaris-Card__SectionHeader">
							<h3 class="Polaris-Subheading">Your impact of all time</h3>
						</div>
						<div class="Polaris-Stack Polaris-Stack--distributionFillEvenly">
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Total payout</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-tp-at" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-is-ske"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="Polaris-Stack__Item">
								<div class="Polaris-Stack Polaris-Stack--vertical">
									<div class="Polaris-Stack__Item">
										<h4 class="Polaris-TextStyle--variationStrong">Total winners</h4>
									</div>
									<div class="Polaris-Stack__Item">
										<p id="Ana-tw-at" class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
											<div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall Ana-is-ske"></div>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>