<div class="Polaris-Stack Polaris-Stack--vertical">
	<div class="Polaris-Stack__Item">
		<div class="Polaris-TextContainer">
			<p>Packed with everything you need to grow your business.</p>
			<h3 class="Polaris-TextStyle--variationStrong">Features included :</h3>
			<ul class="Polaris-List">
				<li class="Polaris-List__Item">Everything from the starter</li>
				<li class="Polaris-List__Item">6 email templates</li>
				<li class="Polaris-List__Item">Run up to 4 giveaways at a time</li>
				<li class="Polaris-List__Item">Save up to 5 giveaway templates</li>
				<li class="Polaris-List__Item">Detailed campaign analytics</li>
				<li class="Polaris-List__Item">Rank recurring participants</li>
				<li class="Polaris-List__Item">Run 1 super giveaway a month</li>
			</ul>
		</div>
	</div>
</div>