<div class="Polaris-Card__Section">
	<div class="Polaris-ButtonGroup">
		<div class="Polaris-ButtonGroup__Item">
			<button id="AllProductsBtn" class="Polaris-Button Polaris-Button--pressed" aria-label="All products" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">All products</span></span></button>
		</div>
		<div class="Polaris-ButtonGroup__Item">
			<button id="ChooseProductsBtn" class="Polaris-Button" aria-label="Choose products" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Choose products</span></span></button>
		</div>
		<div class="Polaris-ButtonGroup__Item">
			<button id="ChooseCollectionBtn" class="Polaris-Button" aria-label="Choose a collection" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Choose a collection</span></span></button>
		</div>
	</div>
</div>