<div class="Polaris-Card">
	<div class="Polaris-Card__Header">
		<h2 class="Polaris-Heading">Description</h2>
	</div>
	<div class="Polaris-Card__Section">
		<div class="Polaris-Labelled--hidden">
			<div class="Polaris-Labelled__LabelWrapper">
				<div class="Polaris-Label"><label id="EventDescriptionInputLabel" for="EventDescriptionInput" class="Polaris-Label__Text">Description</label></div>
			</div>
			<div class="Polaris-Connected">
				<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
					<div class="Polaris-TextField Polaris-TextField--hasValue Polaris-TextField--multiline">
						<textarea id="EventDescriptionInput" autocomplete="off" class="Polaris-TextField__Input" rows="6" aria-labelledby="EventDescriptionInputLabel" aria-multiline="true" style="height: 105px;"></textarea>
						<div class="Polaris-TextField__Backdrop"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>