<div class="Polaris-Card">
	<div class="Polaris-Card__Header">
		<h2 class="Polaris-Heading">Set goals</h2>
	</div>
	<div class="Polaris-Card__Section">
		<div class="Polaris-Card__SectionHeader">
			<h3 class="Polaris-Subheading">Total revenue</h3>
		</div>
		<div class="Polaris-Labelled--hidden">
			<div class="Polaris-Labelled__LabelWrapper">
				<div class="Polaris-Label"><label id="TotalRevenueInputLabel" for="TotalRevenueInput" class="Polaris-Label__Text">Total revenue</label></div>
			</div>
			<div class="Polaris-Connected">
				<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
					<div class="Polaris-TextField"><input id="TotalRevenueInput" type="number" placeholder="" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="TotalRevenueInputLabel" aria-invalid="false" value="">
						<div class="Polaris-TextField__Backdrop"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Polaris-Card__Section">
		<div class="Polaris-Card__SectionHeader">
			<h3 class="Polaris-Subheading">Total entries</h3>
		</div>
		<div class="Polaris-Labelled--hidden">
			<div class="Polaris-Labelled__LabelWrapper">
				<div class="Polaris-Label"><label id="TotalEntriesInputLabel" for="TotalEntriesInput" class="Polaris-Label__Text">Total entries</label></div>
			</div>
			<div class="Polaris-Connected">
				<div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
					<div class="Polaris-TextField"><input id="TotalEntriesInput" type="number" placeholder="" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="TotalEntriesInputLabel" aria-invalid="false" value="">
						<div class="Polaris-TextField__Backdrop"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>