<div class="Polaris-Stack Polaris-Stack--vertical">
	<div class="Polaris-Stack__Item">
		<div class="Polaris-TextContainer">
			<p class="Polaris-TextStyle--variationStrong">Free forever</p>
			<h3 class="Polaris-TextStyle--variationStrong">Features included :</h3>
			<ul class="Polaris-List">
				<li class="Polaris-List__Item">150 entries per month</li>
				<li class="Polaris-List__Item">Set giveaway goals</li>
				<li class="Polaris-List__Item">Basic event analytics</li>
				<li class="Polaris-List__Item">Save unlimited event templates</li>
			</ul>
		</div>
	</div>
</div>