<div class="Polaris-Stack Polaris-Stack--vertical">
	<div class="Polaris-Stack__Item">
		<div class="Polaris-TextContainer">
			<h3 class="Polaris-TextStyle--variationStrong">Features included :</h3>
			<ul class="Polaris-List">
				<li class="Polaris-List__Item">2 email templates</li>
				<li class="Polaris-List__Item">Run 1 giveaway at a time</li>
				<li class="Polaris-List__Item">Save up to 2 giveaway templates</li>
				<li class="Polaris-List__Item">Build an email list of unlimited contacts</li>
				<li class="Polaris-List__Item">Intergrate with MailChimp</li>
				<li class="Polaris-List__Item">Smart export email list as JSON</li>
			</ul>
		</div>
	</div>
</div>