<div class="Polaris-Stack Polaris-Stack--vertical">
	<div class="Polaris-Stack__Item">
		<div class="Polaris-TextContainer">
			<p class="Polaris-TextStyle--variationStrong">39 USD / month</p>
			<h3 class="Polaris-TextStyle--variationStrong">Features included :</h3>
			<ul class="Polaris-List">
				<li class="Polaris-List__Item">Everything from the Appetizer plan</li>
				<li class="Polaris-List__Item">100,000 entries per month</li>
				<li class="Polaris-List__Item">Advanced analytics</li>
			</ul>
		</div>
	</div>
</div>