<div class="Polaris-Stack Polaris-Stack--vertical">
	<div class="Polaris-Stack__Item">
		<div class="Polaris-TextContainer">
			<p class="Polaris-TextStyle--variationStrong">39 USD / month</p>
			<h3 class="Polaris-TextStyle--variationStrong">Features included :</h3>
			<ul class="Polaris-List">
				<li class="Polaris-List__Item">Everything from the standard</li>
				<li class="Polaris-List__Item">15 email templates</li>
				<li class="Polaris-List__Item">Run unlimited giveaways at a time</li>
				<li class="Polaris-List__Item">Save unlimited giveaway templates</li>
				<li class="Polaris-List__Item">Smart campaign analytics</li>
				<li class="Polaris-List__Item">Run unlimited super giveaways</li>
			</ul>
		</div>
	</div>
</div>